<center>
<div style="display:inline-block">
	<!--div style="text-align: center; font-weight: bold">Аверс</div-->
	<img src="#avers#" width=200 height=200 title="Аверс"/>
	
</div>
<div style="display:inline-block">
	<!--div style="text-align: center; font-weight: bold">Реверс</div-->
	<img src="#revers#" width=200 height=200 title="Реверс"/>
</div>
<div style="display:inline-block">
	<!--div style="text-align: center; font-weight: bold">Гурт</div-->
	<img src="#edge#" width=200 height=200 title="Гурт"/>
</div>
</center>