<div>
    <img name="avers"  width=400 height=400 />
    <img name="revers" width=400 height=400 />
</div>
<div>
    <div style="margin: 15px">
        <label style="width: 90px; display:inline-block">Название</label>
        <input type="text" name="denomination" />
    </div>
    <div style="margin: 15px">
        <label style="width: 90px; display:inline-block">Страна</label>
        <input type="text" name="countryName" />
    </div>
    <div style="margin: 15px">
        <label style="width: 90px; display:inline-block"> Государство</label>
        <input type="text" name="state" />
    </div>
    <div style="margin: 15px">
        <label style="width: 90px; display:inline-block">Год:</label>
        <input type="text" name="year" />
    </div>
    
    
    

</div>