<div>
    <img name="avers"  width=300 height=300 />
    <img name="revers" width=300 height=300 />
</div>
<div>
    <div style="margin: 15px; display:inline-block">
        <label style="width: 90px; display:inline-block">Название</label>
        <input type="text" name="denomination" />
    </div>
    <div style="margin: 15px; display:inline-block">
        <label style="width: 90px; display:inline-block">Страна</label>
        <input type="text" name="countryName" />
    </div>
    <div style="margin: 15px; display:inline-block">
        <label style="width: 90px; display:inline-block"> Государство</label>
        <input type="text" name="state" />
    </div>
    <div style="margin: 15px; display:inline-block">
        <label style="width: 90px; display:inline-block">Год:</label>
        <input type="text" name="year" />
    </div>
    
    <div>
        <input type="button" value="Сохранить"  id="save">
    </div>
    

</div>